.mobile-col {
  flex-direction: column;
}

.checkout-wrap {
  display: flex;

}

.checkout-form {
  width: 100%;
  max-width: 730px;
  margin-right: 30px;
}

@include largeMobile() {
  .mobile-col {
    flex-direction: row;
  }
  .middle-input {
    margin: 0 $spacer * 3px;
  }
}
