.collection-header {
  position: relative;
  grid-template-columns: repeat(1, 1fr);
  width: 100%;
  overflow: hidden;
  min-height: 35vh;

  &-title {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    padding: $spacer;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.8);
    width: 80%;
    z-index:2;
    height: 80%;
  }

  &-img {
    position: absolute;
    width: 100%;
    z-index: 1;
    transform: translate(-10%, -10%);
  img {
    width: 150%;
    height: auto;

  }

  }
}

@include tablet() {
  .desktop-break{
    display: block;
  }
}
