.content-section {
  min-height: 25vh;
  padding: $spacer * 20px $spacer * 3px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  border-bottom: 1px solid $light;

  justify-content: center;
  flex-direction: column;

  .content{
    text-align: center;
    width: 100%

  }
}

.content-section .content img {
  width: 100%;
  max-width: 100%;
}

.grid-item {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    max-width: 100%;
    width: 100%;
    height: auto;
  }

}



@include tablet() {

  .content-grid {
    display: grid;
    width: 100%;
    box-sizing: border-box;
    padding: $spacer * 10px 0;
    background: #f8f8f8;


    &-inner {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      height: 100%;
      // border: 1px solid $light;
      box-sizing: border-box;
      padding: $spacer * 3px;
    }
  }

  .content-section {
    justify-content: flex-start;
    padding: $spacer * 20px $spacer * 10px;
    flex-direction: row;
    min-height: 50vh;


    .content {
      text-align: left;
      width: 50%;

      &:first-child {
        padding-right: $spacer * 3px;
      }

    }

    &--center {
      justify-content: center;

      .content {
        text-align: center;
      }
    }
  }
}
