.content-section {
  min-height: 25vh;
  padding: $spacer * 20px $spacer * 3px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  border-bottom: 1px solid $light;
  justify-content: center;
  flex-direction: column;

  .content{
    text-align: center;
    width: 100%

  }
}

.content-section .content img {
  width: 100%;
  max-width: 100%;
}

@include tablet() {

  .content-section {
    justify-content: flex-start;
    padding: $spacer * 20px $spacer * 10px;
    flex-direction: row;
    min-height: 50vh;


    .content {
      text-align: left;
      width: 50%;

    }

    &--center {
      justify-content: center;

      .content {
        text-align: center;
      }
    }
  }
}
