.order-item {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin: $spacer * 3px 0;
  img {
    max-width: 150px;
    width: 100%;
  }
}


@include tablet() {
  .order-item {
    img {
      max-width: 150px;
    }
  }
}
