@font-face {
  font-family: 'acherus_grotesque_black_italic';
  src: url('acherus/acherus_grotesque_black_italic.eot');
  src: url('acherus/acherus_grotesque_black_italic.eot') format('embedded-opentype'),
        url('acherus/acherus_grotesque_black_italic.woff2') format('woff2'),
        url('acherus/acherus_grotesque_black_italic.woff') format('woff'),
        url('acherus/acherus_grotesque_black_italic.ttf') format('truetype'),
        url('acherus/acherus_grotesque_black_italic.svg#acherus_grotesque_black_italic') format('svg');
}

@font-face {
  font-family: 'acherus_grotesque_black';
  src: url('acherus/acherus_grotesque_black.eot');
  src: url('acherus/acherus_grotesque_black.eot') format('embedded-opentype'),
        url('acherus/acherus_grotesque_black.woff2') format('woff2'),
        url('acherus/acherus_grotesque_black.woff') format('woff'),
        url('acherus/acherus_grotesque_black.ttf') format('truetype'),
        url('acherus/acherus_grotesque_black.svg#acherus_grotesque_black') format('svg');
}

@font-face {
  font-family: 'acherus_grotesque_bold_italic';
  src: url('acherus/acherus_grotesque_bold_italic.eot');
  src: url('acherus/acherus_grotesque_bold_italic.eot') format('embedded-opentype'),
        url('acherus/acherus_grotesque_bold_italic.woff2') format('woff2'),
        url('acherus/acherus_grotesque_bold_italic.woff') format('woff'),
        url('acherus/acherus_grotesque_bold_italic.ttf') format('truetype'),
        url('acherus/acherus_grotesque_bold_italic.svg#acherus_grotesque_bold_italic') format('svg');
}

@font-face {
  font-family: 'acherus_grotesque_bold';
  src: url('acherus/acherus_grotesque_bold.eot');
  src: url('acherus/acherus_grotesque_bold.eot') format('embedded-opentype'),
        url('acherus/acherus_grotesque_bold.woff2') format('woff2'),
        url('acherus/acherus_grotesque_bold.woff') format('woff'),
        url('acherus/acherus_grotesque_bold.ttf') format('truetype'),
        url('acherus/acherus_grotesque_bold.svg#acherus_grotesque_bold') format('svg');
}

@font-face {
  font-family: 'acherus_grotesque_extrabold';
  src: url('acherus/acherus_grotesque_extrabold.eot');
  src: url('acherus/acherus_grotesque_extrabold.eot') format('embedded-opentype'),
        url('acherus/acherus_grotesque_extrabold.woff2') format('woff2'),
        url('acherus/acherus_grotesque_extrabold.woff') format('woff'),
        url('acherus/acherus_grotesque_extrabold.ttf') format('truetype'),
        url('acherus/acherus_grotesque_extrabold.svg#acherus_grotesque_extrabold') format('svg');
}

@font-face {
  font-family: 'acherus_grotesque_medium';
  src: url('acherus/acherus_grotesque_medium.eot');
  src: url('acherus/acherus_grotesque_medium.eot') format('embedded-opentype'),
        url('acherus/acherus_grotesque_medium.woff2') format('woff2'),
        url('acherus/acherus_grotesque_medium.woff') format('woff'),
        url('acherus/acherus_grotesque_medium.ttf') format('truetype'),
        url('acherus/acherus_grotesque_medium.svg#acherus_grotesque_medium') format('svg');
}

@font-face {
  font-family: 'acherus_grotesque_regular';
  src: url('acherus/acherus_grotesque_regular.eot');
  src: url('acherus/acherus_grotesque_regular.eot') format('embedded-opentype'),
        url('acherus/acherus_grotesque_regular.woff2') format('woff2'),
        url('acherus/acherus_grotesque_regular.woff') format('woff'),
        url('acherus/acherus_grotesque_regular.ttf') format('truetype'),
        url('acherus/acherus_grotesque_regular.svg#acherus_grotesque_regular') format('svg');
}
