$firstSliderBreak: 999px;

.home-slider {
  display: flex;
  justify-content: center;

  &-item {

    flex-grow: 1;
    width: 33.3333%;

    &:nth-child(3) {
      padding-top: 50px;
      padding-left: 15px;
      display: flex;
      justify-content: center;
      align-items: center;

      @media (max-width: 470px) {
        width: 50%;
      }
    }

    &:nth-child(1) {
      padding-right: 15px;
      padding-bottom: 50px;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;

      .headlines {
        flex-grow: 1;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        padding-top: 200px;
        h1 {
          transform: translateX(-10%);
        }

        .line {
          height: 60px;
          width: 1px;

          &--inner {
            height: 100%;
            background-color: $dark;
          }
        }
      }

      @media (max-width: $firstSliderBreak) {
        display: none;
      }
    }
  }
}

.featured-img {
  flex-grow: 0;
  width: 480px;
  height: 600px;
  position: relative;

  .inner {
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
  }

  @media (max-width: $firstSliderBreak) {
    display: flex;
    height: 600px;
  }

  @media (max-width: 470px) {
    width: 50%;
  }
}

.img {
  padding: 5px;
  background: $white;
  box-shadow: 0px 10px 20px rgba(0,0,0,0.10);
}
