.home-transition-group, .home-slide-flex {
  position: relative;
}

.home-slide-flex {
  z-index: 1;
}

.slide-wrap{

  &.leaving, &.entering {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  &.entering {
    animation: 1.25s slideEnter forwards $easeInExpo;
    animation-delay: 0.25s;
  }

  &.leaving {
    animation: 1.25s slideLeave forwards $easeInExpo;
    animation-delay: 0.25s;
  }
}

@keyframes slideEnter {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideLeave {
  to {
    transform: translateX(-100%);
  }
}

.home-slide-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #eee;
  z-index: 0;
  canvas {
    width: 100%;
    height: 100%;
  }
}

.home-slide-box {
  flex: 1;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  align-items: center;

  &:nth-child(1) {
    justify-content: center;
  }

  &:nth-child(2) {
    justify-content: flex-end;
  }

  &:nth-child(3) {
    justify-content: flex-end;
  }
}

.home-slide-img-box {

}

.home-slide-img {
  width: auto;
  height: calc(100% - 60px);
  transform-origin: center;
  opacity: 0.01;

  &.leaving {
    opacity: 1;
    animation: 3s imgLeave forwards $easeOutExpo;
  }

  &.entering {
    animation: 1s imgEnter forwards $easeInExpo;
  }
}

@keyframes imgEnter {
  from {
    opacity: 0.01;
  }
  to {
    opacity: 1;
  }
}

@keyframes imgLeave {
  to {
    // opacity: 0.01;
    transform: translateX(-18%);
  }
}


