.signin {
  display: flex;
  margin-bottom: 50px;

  @media (max-width: 830px) {
    flex-direction: column;
  }

  &-create {
    padding: 0 100px;

    @media (max-width: 1200px) {
      padding: 0 25px;
    }

    @media (max-width: 830px) {
      padding: 0;
      margin-top: 50px;
    }
  }

  &-section {
    width: 50%;

    @media (max-width: 830px) {
      width: 100%;
    }

    &:first-child {
      padding-right: 20px;
      @media (max-width: 830px) {
        padding-right: 0;
      }
    }
  }

  &-btns {
    display: flex;
    button {
      width: 50%;

      &:first-child {
        margin-right: 10px;
      }

      &:nth-child(2) {
        margin-left: 10px;
      }
    }

    @media (max-width: 390px) {
      flex-direction: column;

      button[class^="btn"] {
        width: 100%;
        margin: 0;

        &:nth-child(2) {
          margin-top: 15px;
        }
      }
    }
  }
}
