.account-section {
  &-left {
    margin-right: $spacer * 4;
    flex: 1;
  }
  &-right {
    margin-left: $spacer * 4;
    flex: 1;
  }
  @media (max-width: 600px) {
    margin-left: 0;
    margin-right: 0;
  }
}
