body {
    font-family: $bodyFont;
    margin: 0;
    @include font-size(1.6);
    color: $dark;
}

body, html {
    width: 100%;
    height: 100%;
    margin: 0;
}

html {
    font-size: 10px;
}

svg {
    transition: 0.25s fill;
}

#app {
    height: 100%;
    min-height: 667px;
    min-width: 320px;
}

.global-padding {
    padding: 15px;
    box-sizing: border-box;
}

.global-padding-x {
    padding: 0 30px;
}

.global-margin {
    margin: 15px;
}

.layout {
    display: flex;
    height: 100%;
    flex-direction: column;
    min-height: 100%;
}

@include largeMobile {
    .global-padding {
        padding: 25px 30px 0;
        box-sizing: border-box;
    }

    .global-margin {
        margin: 25px 30px 0;
    }
}

