.btn {
  display: inline-block;
  font-weight: bold;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  font-family: $bodyFont;
  border: 1px solid transparent;
  background-color: transparent;
  padding: 12px 40px;
  cursor: pointer;
  @include font-size(1.28);
  transform-origin: center;
}

.btn:focus {
  outline: none;
}

.btn--primary {
  border-color: $dark;
  color: $dark;
}
