.btn {
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  font-weight: 300;
  user-select: none;
  font-family: $bodyFont;
  border: 1px solid transparent;
  background-color: transparent;
  padding: 12px 40px;
  cursor: pointer;
  @include font-size(1.6);
  transform-origin: center;
  transition: 0.3s all cubic-bezier(0.645, 0.045, 0.355, 1);

  &--alt {
    @extend .btn;
    border: none;
    border-bottom: 1px solid $dark;
    padding-bottom: 10px;
    padding-top: 10px;
  }
}

.btn:focus {
  outline: none;
}

.btn--primary {
  @extend .btn;
  border-color: $dark;
  color: $dark;

  &:hover {
    background-color: $dark;
    color: $white;
  }

  &--inverse {
    @extend .btn--primary;
    background-color: $dark;
    color: $white;
  }
}


