// form group
// form component
// form label
// inputs

$formPadding: $spacer * 3;
$formRadius: 5px;

@keyframes error {
  0% {
    box-shadow: 0 0 1px $danger;
  }
  50% {
    box-shadow: 0px 0px 25px $danger;
  }
  100% {
    box-shadow: 0 0 0px $danger;
  }
}

.form-error {
  animation: error 1s ease-out;
}

.form {
  max-width: 480px;
  width: 100%;
}

.form-group {
  border: 1px solid $light;
  border-radius: $formRadius;
  width: 100%;
  padding: $formPadding;
  box-sizing: border-box;
}

.form-content {
  padding: $formPadding;
  box-sizing: border-box;
}

.form-component {
  label {
    @include font-size(1.4);
    font-weight: bold;
    display: block;
    padding-left: $formPadding;
  }

  [type="text"], [type="password"] {
    &.input-error {
      border-color: $danger;
    }
    width: 100%;
    border-radius: $formRadius;
    border: 1px solid $light;
    @include font-size(1.6);
    padding: 10px;

    &:focus {
      outline: none;
      border-color: darken($light, 10%);
    }
  }
}
