// form group
// form component
// form label
// inputs

$formPadding: $spacer * 3;
$formRadius: 5px;

.form {
  max-width: 480px;
  width: 100%;
}

.form-group {
  border: 1px solid $light;
  border-radius: $formRadius;
  width: 100%;
  padding: $formPadding;
  box-sizing: border-box;
}

.form-content {
  padding: $formPadding;
  box-sizing: border-box;
}

.form-component {
  label {
    @include font-size(1.4);
    font-weight: bold;
    display: block;
    padding-left: $formPadding;
  }

  [type="text"], [type="password"] {
    width: 100%;
    border-radius: $formRadius;
    border: 1px solid $light;
    @include font-size(1.6);
    padding: 10px;

    &:focus {
      outline: none;
      border-color: darken($light, 10%);
    }
  }
}
