a, a:visited {
  color: $dark;
  text-decoration: none;
}

.link, a.link {
  color: darken($first, 20);

  &:hover {
    text-decoration: underline;
  }
}

.link--underlined {
  padding-bottom: 10px;
  border-bottom: 1px solid $dark;
  @include font-size(1.4);
  text-transform: uppercase;
}

@each $var, $color in $colorMap {
  $name: "link--#{$var}";
  a.#{$name}, .#{$name} {
    color: $color;
  }
}
