.global-nav {
  height: 35px;
  width: 100%;
  top: 0;
  left: 0;
  box-sizing: border-box;
  position: fixed;
  z-index: 999;
  background-color: $dark;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);

  &.root {
    background-color: transparent;
    box-shadow: 0 0 0;
        transition: .25s background-color, 0.25s 0s box-shadow;

  }
  &, * {
    transition: .25s background-color, .25s .25s box-shadow;
  }
  a, a:visited {
    color: $white;
  }

}

.logo {
  width: 14.656rem;
  height: 2.5rem;
}

.auth-nav-bar {
  border-right: 2px solid $light;
  width: 170px;
  padding-right: $spacer * 5px;
  flex-shrink: 0;

  &-link {
    display: block;
    margin: $spacer*5px 0;
    &.active {
      color: $second;
    }
  }
}

