.global-nav {
  height: 35px;
  width: 100%;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 999;

  &.root {
    a, a:visited {
      color: $white;
    }
  }
}

.logo {
  width: 14.656rem;
  height: 2.5rem;
}

.auth-nav-bar {
  border-right: 2px solid $light;
  width: 170px;
  padding-right: $spacer * 5px;

  &-link {
    display: block;
    margin: $spacer*5px 0;
    &.active {
      color: $second;
    }
  }
}

