$transitionVal: 0.6s cubic-bezier(0.645, 0.045, 0.355, 1);

@keyframes navIn {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

.global-nav {
  margin: 45px auto 70px;
  height: 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &.fixed {
    animation: navIn 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
    position: fixed;
    background-color: #fff;
    z-index: 999;
    top: 0;
    height: 55px;
    @media (max-width: 500px) {
      height:45px;
    }
    max-width: none;
    width: 100%;
    margin-top: 0;
    box-shadow: 0px 0px 3px $light;
  }
}

.cart-qty {
  width: 18px;
  height: 18px;
  background-color: $first;
  border-radius: 25px;
  display: flex;
  @include font-size(1.4);
  position: absolute;
  right: -13px;
  top: -3px;
  align-items: center;
  justify-content: center;
  color: $dark;

  .fixed & {
    top: 6px;
    right: -10px;
  }
}

%inner {
  width: 60%;
  height: 3px;
  background: $white;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  border-radius: 3px;
  transform-origin: center;
  transition: transform $transitionVal;
}


.menu-overlay {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  background: transparentize($dark, 0.1);
  transform: scale(0.95) translateY(10px);
  transform-origin: center;
  pointer-events: none;
  transition: all $transitionVal;
  opacity: 0;
  overflow: scroll;

  .wrap {
    transform: translateY(120px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100% - 150px);
  }

  .bottom-links {
    color: $white;
    display: flex;
    justify-content: flex-start;
    font-size: 1.2rem;
    padding-bottom: 50px;
    span {
      margin-right: 10%;
    }
  }

  .menu-link {
    color: $white;
    font-size: 32px;
    display: block;
    margin: 15px 0;
    opacity: 0;
    transform: translateY(5px);
    transition: all 0.3s;

    @for $i from 1 through 6 {
      .open &:nth-child(#{$i}) {
        transition-delay: $i * 0.1s;
        opacity: 1;
        transform: translateY(0);
      }
    }
  }

  .open & {
    pointer-events: all;
    opacity: 1;
    transform: scale(1) translateY(0);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}

.logo {
  height: 25px;
}

.cart {
  width: 35px;
  cursor: pointer;
  position: relative;
}

.open .logo, .open .cart {
  animation: fadeIn $transitionVal forwards;
}

.ham {
  width: 35px;
  height: 35px;
  cursor: pointer;
  border-radius: 45px;
  background-color: $dark;
  position: relative;
  transition: background-color $transitionVal;

  .open & {
    background-color: transparent;

  }


  &-inner {
    @extend %inner;
    transform: translateY(-3px);

    &:after {
      content: "";
      @extend %inner;
      width: 100%;
      transform: translateY(6px);
    }
  }

  .open &-inner {
    transform: translateY(0px) rotate(-135deg);

    &:after {
      transform: translateY(0px) rotate(270deg);
    }

  }
}
