.text-align-center {
    text-align: center;
}

.hide {
    display: none;
}

.show, .display--block {
    display: block;
}

img {
    max-width: 100%;
}

.underline-header {
    border-bottom: 1px solid $lightest;
    padding-bottom: 30px;
    margin-bottom: 40px;
  }

.line-break {
    display: block;
    width: 100%;
    height: 1px;
    background: $dark;
    margin: 25px 0;
}
.wrap {
    max-width: $largeDesktopWidth;
    width: 100%;
    padding: 0 10px;
    box-sizing: border-box;
    margin: 0 auto;

    @media (min-width: $tabletWidth) {
        padding: 0 35px;
    }
}

.strong {
    font-weight: bold;
}

.full-height {
    height: 100%;
}

.full-width {
    width: 100%;
}

.flex-col-break {
    display: flex;
    &--m {
        margin-left: $spacer * 5px;
        margin-top: 0;
    }
    @media (max-width: 640px) {
        &--m {
            margin-top: $spacer * 5px;
            margin-left: 0;

        }
        flex-direction: column;
    }
}

.item-box {
    border: 1px solid $light;
    padding: $spacer * 3;
    box-sizing: border-box;
    border-radius: 5px;
    width: 100%;
    &:first-child {
        margin-top: 0!important;
    }
    &:last-child {
        margin-bottom: 0!important;
    }
}

@each $var, $color in $colorMap {
    .font-color--#{$color} {
        color: $color;
    }
}

.uppercase {
    text-transform: uppercase;
}

$nums: 0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20;

.img {
    padding: 5px;
    background-color: $white;
    box-sizing: border-box;
    box-shadow: 0px 2px 15px transparentize($dark, 0.85);
    background-size: 150%;
    background-position: center;

    &--inner {
        width: 100%;
        height: 100%;
        background-size: 150%;
        background-position: center;
    }
}

.max-width-100 {
    max-width: 100%;
    height: auto;
}

.overflow-hidden {
    overflow: hidden;
}

.stripe-image {
    position: relative;
    img {
        z-index: 2;
        position: relative;
    }
    &:after {
        position: absolute;
        z-index: 0;
        width: 50%;
        height: 50%;
        flex: 1;
        content: "";
        bottom: 0;
        right: 0;
        transform: translate(25%, 25%);
        opacity: 0.5;
        background-size: 6px;
        background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAOUlEQVQYV43MQQ4AIAgDQfv/R4OYaFChsOfJYvQSNJxMgwouZDMGD2LwQhn8UARD9MIUeUjRhiUyqPw8Cgq7TDlmAAAAAElFTkSuQmCC);

    }

    &--left {
        @extend .stripe-image;
        &:after {
            @extend .stripe-image:after;
            right: auto; left: 0;
            transform: translate(-25%, 25%);
        }
    }
}



@each $direction in top, left, right, bottom {
    @for $num from 0 through 100 {
        .margin--x-#{$num} {
            margin: 0 #{$spacer * $num}px!important;
        }
        .margin--y-#{$num} {
            margin: #{$spacer * $num}px 0!important;
        }
        .margin--#{$direction}-#{$num} {
            margin-#{$direction}: #{$spacer * $num}px!important;
        }
        .padding--#{$direction}-#{$num} {
            padding-#{$direction}: #{$spacer * $num}px!important;
        }
        .padding--x-#{$num} {
            padding: 0 #{$spacer * $num}px!important;
        }
    }
}

.text-blurb {
    width: 100%;
    max-width: 650px;
    margin: auto;
}

.loading-indicator {
    width: 40px;
    position: relative;
    z-index: 1;
    height: 40px;
    background-color: $dark;
    margin: 10px auto;
    -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
    animation: sk-rotateplane 1.2s infinite ease-in-out;
  }

  @-webkit-keyframes sk-rotateplane {
    0% { -webkit-transform: perspective(120px) }
    50% { -webkit-transform: perspective(120px) rotateY(180deg) }
    100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
  }

  @keyframes sk-rotateplane {
    0% {
      transform: perspective(120px) rotateX(0deg) rotateY(0deg);
      -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg)
    } 50% {
      transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
      -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg)
    } 100% {
      transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
      -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    }
  }


