.text-align-center {
    text-align: center;
}

.hide {
    display: none;
}

.show {
    display: block;
}

.wrap {
    max-width: 800px;
    margin: auto;
}

.strong {
    font-weight: bold;
}

.full-height {
    height: 100%;
}

.full-width {
    width: 100%;
}

$nums: 0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20;

@each $direction in top, left, right, bottom {
    @each $num in $nums {
        .margin--x-#{$num} {
            margin: 0 #{$spacer * $num}px!important;
        }
        .margin--y-#{$num} {
            margin: #{$spacer * $num}px 0!important;
        }
        .margin--#{$direction}-#{$num} {
            margin-#{$direction}: #{$spacer * $num}px!important;
        }
        .padding--#{$direction}-#{$num} {
            padding-#{$direction}: #{$spacer * $num}px!important;
        }
    }
}

