$mobileWidth: "480px";
$largeMobileWidth: "600px";
$tabletWidth: "768px";
$desktopWidth: "992px";
$largeDesktopWidth: "1392px";

$white: #FFFFFF;
$cta: #39A66F;
$second: #004358;
$secondDark: darken($second, 12%);
$third: #6037FF;
$fourth: #E85059;
$fifth: #FD7400;
$gray: #5A5A5A;

$spacer: 5;
